{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'capzvisuals/css/navbar.css' %}">

  </head>
  <body>
    <div class="navbar">
      <div class="container">

          <a href="/"><img class="logo" src="{% static 'capzvisuals/image/CAPZVISUALS BLACK.png' %}" alt="boicapz"></a>


          <nav>
            <ul>
              <li><a href="{% url 'services' %}">services</a></li>
              <li><a href="{% url 'about' %}">about</a></li>
              <li><a href="{% url 'contact' %}">contact us</a></li>
            </ul>
          </nav>

      </div>

    </div>





  </body>
</html>
